<head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/common_style.css">
</head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">

<header>
  <div class="header-area">
      <div class="logo-box" onclick="location.href='/'">
          <img class="logo-image" src="../../static/image/bdgc_logo.png">
      </div>
      <div class="profile-box" onclick="location.href='/common/myPage'">
          <img class="profile-image" src="../../static/image/user_icon.png">
      </div>
  </div>
</header>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"  href="../myPage/report_history">내 문의기록</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">문의하기</a>
  </li>
  <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">문의내용</a>
  </li>
</ul>

<div class="container my-3">
  <br>
  <p class="h1">문의가 접수되었습니다</p>
  <br>
  <p class="h2">답장은 메일로 보내드리겠습니다</p>
</div>




